.section-2_bg {
  background-color: var(--bg-100);
}

.section-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-block: var(--section-padding-block);
  text-align: center;

  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}

.section-2 div {
  padding: 30px;
}
