.section-2_bg {
  background-color: var(--bg-100);
}

.section-2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-block: var(--section-padding-block);
}

.section-2 div {
  padding: 30px;
  text-align: center;
  min-width: 0;
}
