.services {
  padding-block: var(--section-padding-block);
  padding-inline: 20px;
}
.services_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.services h2 {
  padding: 30px;
  text-align: center;
  font-weight: 800;
}

.services-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding-inline: var(--padding-inline);
}

.services-img {
  position: relative;
  text-align: center;

  @media (max-width: 940px) {
    grid-column: 1 / -1;
    margin-top: 50px;
  }
}
.services-img::after {
  content: '';
  position: absolute;
  inline-size: 110px;
  block-size: 120%;
  background-color: #2c4755;
  top: -10%;
  right: -5%;
  z-index: -1;
}

.services-img img {
  inline-size: 300px;
}
