.services {
  padding-block: var(--section-padding-block);
  padding-inline: 20px;
}
.services_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.services h2 {
  padding: 30px;
  text-align: center;
  font-weight: 800;
}

.services-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding-inline: var(--padding-inline);
}

.services-img {
  text-align: center;

  @media (max-width: 940px) {
    grid-column: 1 / -1;
    margin-top: 50px;
  }
}

.services-img img {
  inline-size: 300px;
}
